.border {
    padding: 10px 10px;
    width: 100%;
    background-color: #001a5c;
}


.ridge {
    font-size: 30px;
    background-color: rgb(55, 182, 214);
    padding: 5px 50px;
    border-radius: 0px;
    box-shadow: 0 2px 3px rgb(255, 255, 255);
    position: relative;
    bottom: 0px;
    color: white;
    border: 3px black;
    display: inline-block;
    text-decoration: none;
    margin: 25px auto;
    border: ridge;
}

.none {
    font-size: 30px;
    background-color: rgb(55, 182, 214);
    padding: 5px 50px;
    border-radius: 0px;
    box-shadow: 0 2px 3px rgb(255, 255, 255);
    position: relative;
    bottom: 0px;
    color: white;
    border: 3px black;
    display: inline-block;
    text-decoration: none;
    margin: 25px auto;
    border: none;
}

.outset {
    font-size: 30px;
    background-color: rgb(55, 182, 214);
    padding: 5px 50px;
    border-radius: 0px;
    box-shadow: 0 2px 3px rgb(255, 255, 255);
    position: relative;
    bottom: 0px;
    color: white;
    border: 3px black;
    display: inline-block;
    text-decoration: none;
    margin: 25px auto;
    border: outset;
}

.inset {
    font-size: 30px;
    background-color: rgb(55, 182, 214);
    padding: 5px 50px;
    border-radius: 0px;
    box-shadow: 0 2px 3px rgb(255, 255, 255);
    position: relative;
    bottom: 0px;
    color: white;
    border: 3px black;
    display: inline-block;
    text-decoration: none;
    margin: 25px auto;
    border: inset;
}

.hidden {
    font-size: 30px;
    background-color: rgb(55, 182, 214);
    padding: 5px 50px;
    border-radius: 0px;
    box-shadow: 0 2px 3px rgb(255, 255, 255);
    position: relative;
    bottom: 0px;
    color: white;
    border: 3px black;
    display: inline-block;
    text-decoration: none;
    margin: 25px auto;
    border: hidden;
}

.groove {
    font-size: 30px;
    background-color: rgb(55, 182, 214);
    padding: 5px 50px;
    border-radius: 0px;
    box-shadow: 0 2px 3px rgb(255, 255, 255);
    position: relative;
    bottom: 0px;
    color: white;
    border: 3px black;
    display: inline-block;
    text-decoration: none;
    margin: 25px auto;
    border: groove;
}

.double {
    font-size: 30px;
    background-color: rgb(55, 182, 214);
    padding: 5px 50px;
    border-radius: 0px;
    box-shadow: 0 2px 3px rgb(255, 255, 255);
    position: relative;
    bottom: 0px;
    color: white;
    border: 3px black;
    display: inline-block;
    text-decoration: none;
    margin: 25px auto;
    border: double;
}

.dotted {
    font-size: 30px;
    background-color: rgb(55, 182, 214);
    padding: 5px 50px;
    border-radius: 0px;
    box-shadow: 0 2px 3px rgb(255, 255, 255);
    position: relative;
    bottom: 0px;
    color: white;
    border: 3px black;
    display: inline-block;
    text-decoration: none;
    margin: 25px auto;
    border: dotted;
}

.dashed {
    font-size: 30px;
    background-color: rgb(55, 182, 214);
    padding: 5px 50px;
    border-radius: 0px;
    box-shadow: 0 2px 3px rgb(255, 255, 255);
    position: relative;
    bottom: 0px;
    color: white;
    border: 3px black;
    display: inline-block;
    text-decoration: none;
    margin: 25px auto;
    border: dashed;
}

.solid {
    font-size: 30px;
    background-color: rgb(55, 182, 214);
    padding: 5px 50px;
    border-radius: 0px;
    position: relative;
    bottom: 0px;
    color: white;
    border: 3px black;
    display: inline-block;
    text-decoration: none;
    margin: 25px auto;
    border: solid;

}

/*shadow*/
.Shadow {
    background-color: rgb(255, 140, 0);
    margin: 10px 0;
    padding: 10px 10px;
    width: 100%;
}

.無陰影 {
    font-size: 30px;
    background-color: rgb(226, 122, 52);
    padding: 5px 50px;
    border-radius: 0px;
    position: relative;
    bottom: 0px;
    color: black;
    border: 3px black;
    display: inline-block;
    text-decoration: none;
    margin: 25px auto;
    border: none;
    box-shadow: none;
}

.陰影 {
    font-size: 30px;
    background-color: rgb(226, 122, 52);
    padding: 5px 50px;
    border-radius: 0px;
    position: relative;
    bottom: 0px;
    color: black;
    border: 3px black;
    display: inline-block;
    text-decoration: none;
    margin: 25px auto;
    border: none;
    box-shadow: 0px 3px rgba(0, 0, 0, 0.7);
}

.模糊陰影 {
    font-size: 30px;
    background-color: rgb(226, 122, 52);
    padding: 5px 50px;
    border-radius: 0px;
    position: relative;
    bottom: 0px;
    color: black;
    border: 3px black;
    display: inline-block;
    text-decoration: none;
    margin: 25px auto;
    border: none;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 10);
}

.內縮陰影 {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.7);
    font-size: 30px;
    background-color: rgb(226, 122, 52);
    padding: 5px 50px;
    border-radius: 0px;
    position: relative;
    bottom: 0px;
    color: black;
    border: 3px black;
    display: inline-block;
    text-decoration: none;
    margin: 25px auto;
    border: none;
}

.模糊內縮陰影 {
    font-size: 30px;
    background-color: rgb(226, 122, 52);
    padding: 5px 50px;
    position: relative;
    color: black;
    display: inline-block;
    margin: 25px auto;
    box-shadow: inset 0px 0px 3px 4px rgba(0, 0, 0, 0.5);
}

.雙層陰影 {
    font-size: 30px;
    background-color: rgb(226, 122, 52);
    padding: 5px 50px;
    position: relative;
    color: black;
    display: inline-block;
    margin: 25px auto;
    box-shadow: 0px 2px 3px 2px rgba(160, 0, 0, 0.7), 0px -2px 3px 2px rgba(0, 0, 0, 0.7);
}




.hoverBox1 {
    height: 50px;
    width: 200px;
    background-color: rgb(255, 197, 111);
    color: white;
    text-align: center;
    line-height: 50px;
    display: inline-block;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.317);
    margin: 5px 5px;
    border-radius: 5px;
}

.hoverBox1:hover {
    background-color: rgb(255, 153, 0);
    transition: all 0.3s;
}


.Position1 {
    margin: 10px 0px;
    width: 100px;
    height: 100px;
    background-color: #292929;
    display: inline-block;
    position: relative;
}


.Position1Inner {
    width: 20px;
    height: 20px;
    background-color: chartreuse;
    position: absolute;
    bottom: 0px;
    right: 0px;
}


.Position2 {
    margin: 10px 0px;
    width: 100px;
    height: 100px;
    background-color: rgb(41, 41, 41);
    display: inline-block;
    position: relative;
}

.Position2Inner {
    width: 20px;
    height: 20px;
    background-color: chartreuse;
    position: absolute;
    top: 50%;
    left: 50% margin-top: -10px;
    margin-left: -10px
}